{% extends 'base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/06.Components/offer_details.css' %}">
{% endblock page_css %}

{% block page_content %}
<div class="list-ver">
    {% include 'partials/offer_details_view.html' with offer=offer %}
</div>
{% endblock page_content %}

{% block javascript %}
<script type="module" src="{% static 'js/galery_scroller.js' %}"></script>
<script type="module" src="{% static 'js/countdown_timer.js' %}"></script>
{% endblock javascript %}