<div class="header">

    <nav class="nav">
        <ul class="nav list-hor">
            <li class="nav__nav_item">
                <a href="/">Home</a>
            </li>
            <li class="nav__nav_item">
                <a href="/offers">Offers</a>
            </li>
            <li class="nav__nav_item">
                <a href="/create-offer">Create Offer</a>
            </li>
            <li class="nav__nav_item">
                <a href="/bids">My bids</a>
            </li>
            <li class="nav__nav_item spacer"></li>
            <li class="nav__nav_item">
                <a href="/register">Register</a>
            </li>
            <li class="nav__nav_item">
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</div>