<div class="header">
    <nav class="nav">
        <ul class="nav list-hor">
            <li class="nav__nav_item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav__nav_item">
                <a href="{% url 'search results' %}">Offers</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav__nav_item">
                <a href="{% url 'create page' %}">Create Offer</a>
            </li>
            <li class="nav__nav_item">
                <a href="{% url 'my offers page' %}">My offers</a>
            </li>
            <li class="nav__nav_item">
                <a href="/my-bids">My bids</a>
            </li>
            {% endif %}
            <li class="nav__nav_item spacer"></li>
            {% if user.is_authenticated %}
            <li class="nav__nav_item">
                <a href="{% url 'logout user' %}">{{ user.username }}</a>
            </li>
            <li class="nav__nav_item">
                <a href="{% url 'logout user' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav__nav_item">
                <a href="{% url 'register user' %}">Register</a>
            </li>
            <li class="nav__nav_item">
                <a href="{% url 'login user' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>