{% load static %}
<div class="card__wrapper">
    <img class="card__image" src="https://frankfurt.apollo.olxcdn.com/v1/files/wdxf0bdzei16-BG/image;s=800x600">
    <h4>
        <a href="/">
            <strong class="card__title highlightable">Some box with some stuff</strong>
        </a>
    </h4>
    <div class="spacer"></div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/location.svg' %}" />
        <div class="card__info_text">Sofia city</div>
    </div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
        <div class="card__info_text">Added - 23.04.2020</div>
    </div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
        <div class="card__info_text">Expires - 23.04.2020</div>
    </div>
    <div class="list-hor">
        <div class="card__price">400 lv.</div>
        <div class="spacer"></div>
        <img class="card__icon" height="30px" src="{% static 'icons/heart.svg' %}" />
    </div>
</div>