{% load static %}
<div class="card_hor__wrapper">
    {% if offer.imagegalery.images %}
    <img class="card_hor__image" src="{{ offer.imagegalery.images.0.image.url }}">
    {% else %}
    <img class="card_hor__image" src="{% static 'images/missing_image.png' %}">
    {% endif %}
    <div class="list-ver">
        <div class="list-hor">
            <h4 class="card__title">{{ offer.name }}</h4>
            <div class="spacer"></div>
            <div class="card__price">{{ offer.current_price }} lv.</div>
        </div>
        <div class="spacer"></div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
            <div class="card__info_text">Added - {{ offer.published_on}}</div>
        </div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
            <div class="card__info_text">Expires - {{ offer.expires_on}}</div>
        </div>
        <div class="spacer"></div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/location.svg' %}" />
            <div class="card__info_text">{{ offer.location }}</div>
            <div class="spacer"></div>
            <a href="{% url 'details page' offer_id=offer.id %}" class="card__btn">View Details</a>
        </div>
    </div>
</div>