{% load static %}
<div class="list-ver">
    <div class="details__section">
        <div class="details__galery">
            <img class="card__icon" height="40px" src="{% static 'icons/arrow-left-solid.svg' %}" />
            <img class="details__galery_image" src="{{ offer.imagegalery.images.0.image.url }}" alt="">
            <img class="card__icon" height="40px" src="{% static 'icons/arrow-right-solid.svg' %}" />
        </div>
        <div class="details__galery_image_counter">01/15</div>
    </div>
    <div class='details__section'>
        <h2 class="details__section_title">{{ offer.name }}</h2>
        <strong class="details__section_title">Current price: {{ offer.current_price }} lv.</strong>
        <div class="list-hor">
            <div class="list-ver">
                <div class="list-hor">
                    <img class="card__icon" height="20px" src="{% static 'icons/location.svg' %}" />
                    <div class="card__info_text">Location: {{ offer.location }}</div>
                </div>
                <div class="list-hor">
                    <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
                    <div class="card__info_text">Added: {{ offer.published_on }}</div>
                </div>
                <div class="list-hor">
                    <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
                    <div class="card__info_text">Expires: {{ offer.expires_on }}</div>
                </div>
            </div>
            <div class="list-ver">
                <div class="list-hor">
                    <div class="card__info_text">Condition: {{ offer.get_condition_display }}</div>
                </div>
                <div class="list-hor">
                    <div class="card__info_text">Category: {{ offer.category }}</div>
                </div>
                <div class="list-hor">
                    <div class="card__info_text">Viewed: {{ offer.view_counts }} times</div>
                </div>
            </div>
        </div>
        <strong class="details__section_title">Description</strong>
        <div class="card__info_text">{{ offer.description }}</div>
    </div>
    {% if user_is_creator %}
    <div class="details__section">
        <h4 class="details__section_title">Bids for this offer</h4>
        <div class="list-ver">
            {% for bid in offer_bids %}
            <div class="list-hor">
                <div class="card__info_text">{{ bid.created_by.username }} bid {{ bid.amount }} lv. on
                    {{ bid.created_on}}</div>
            </div>
            {% empty %}
            <div class="list-hor">
                <div class="card__info_text">There are no bids for this offer yet</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="details__section">
        <h4 class="details__section_title">Contact information</h4>
        <div class="list-ver">
            <div class="list-hor">
                <img class="card__icon" height="20px" src="{% static 'icons/user-solid.svg' %}" />
                <div class="card__info_text">{{ offer.created_by.username }}</div>
            </div>
            <div class="list-hor">
                <img class="card__icon" height="20px" src="{% static 'icons/envelope-regular.svg' %}" />
                <div class="card__info_text">{{ offer.created_by.email }}</div>
            </div>
            <div class="list-hor">
                <img class="card__icon" height="20px" src="{% static 'icons/mobile-alt-solid.svg' %}" />
                <div class="card__info_text">{{ offer.created_by.profile.phone_number }}</div>
            </div>
        </div>
    </div>
    <div class="details__section">
        <h4 class="details__section_title">Bid on this offer</h4>
        <form class="list-ver" action="{% url 'details page' offer_id=offer.id %}" method="POST">
            {% csrf_token %}
            <label class="details__bid_form_label"
                for="{{ bid_form.amount.auto_id }}">{{ bid_form.amount.label }}</label>
            {{ bid_form.amount }}
            {% if bid_form.errors %}
            <ul class="errors__container">
                {% for error in bid_form.errors.amount %}
                <li>
                    <strong class="errors__text">{{ error }}</strong>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <label class="details__bid_form_label"
                for="{{ bid_form.message.auto_id }}">{{ bid_form.message.label }}</label>
            {{ bid_form.message }}
            <button class="details__btn">Bid</button>
        </form>
    </div>
    {% endif %}
</div>
</div>