{% load static %}
<div class="card_ver__wrapper">
    {% for image in offer.imagegalery.images %}
        <img class="card_ver__image" src="{{ image.image.url }}">
    {% endfor %}
    <h4>
        <a href="/">
            <strong class="card__title highlightable">{{ offer.name }}</strong>
        </a>
    </h4>
    <div class="spacer"></div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/location.svg' %}" />
        <div class="card__info_text">{{ offer.location }}</div>
    </div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
        <div class="card__info_text">Added - {{ offer.published_on}}</div>
    </div>
    <div class="list-hor">
        <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
        <div class="card__info_text">Expires - {{ offer.expires_on}}</div>
    </div>
    <div class="list-hor">
        <div class="card__price">{{ offer.starting_price}} lv.</div>
        <div class="spacer"></div>
        <a href="{% url 'details page' offer_id=offer.id %}" class="card__btn">View Details</a>
    </div>
</div>