{% load static %}
<div class="card_hor__wrapper">
    <img class="card_hor__image" src="{{ offer.imagegalery.images.0.image.url }}">
    <div class="list-ver">
        <div class="list-hor">
            <h4 class="card__title">{{ offer.name }}</h4>
            <div class="spacer"></div>
            <div class="card__price">{{ offer.starting_price}} lv.</div>
        </div>
        <div class="spacer"></div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
            <div class="card__info_text">Added - {{ offer.published_on}}</div>
        </div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/calendar.svg' %}" />
            <div class="card__info_text">Expires - {{ offer.expires_on}}</div>
        </div>
        <div class="spacer"></div>
        <div class="list-hor">
            <img class="card__icon" height="20px" src="{% static 'icons/location.svg' %}" />
            <div class="card__info_text">{{ offer.location }}</div>
        </div>
    </div>
</div>