.list-hor {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-ver {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
