@import url("../01.Settings/index.css");

/* Header stuff */
.header {
    background-color: var(--bg-color-header);
    height: 100px;
}

.nav {
    height: 100%;
}

.nav__nav_item {
    height: 100%;
    padding: 0 10px;
}

.spacer {
    flex: 1;
}

.nav__nav_item a{
    display: flex;
    height: 100%;
    align-items: center;
}

/* Search stuff */
.vertical-spacer {
    margin: 50px 0;
}

.search-wrapper {
    background-color: var(--bg-color-default);
    height: 100px;
    width: 80%;
}

.search__icon-container {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search__input {
    height: 100%;
    width: 100%;
    border: none;
    font-family: var(--text-font-primary);
    font-size: 26px;
}

.search__submit {
    height: 100%;
    width: 200px;
    border: none;
    color: var(--bg-color-header);
    background-color: var(--bg-color-default);
    font-family: var(--text-font-primary);
    font-size: 26px;
    border-left: 2px solid;
    border-color: var(--bg-color-body);
}

.search__submit:hover {
    color: var(--bg-color-default);
    background-color: var(--bg-color-header);
    cursor: pointer;
}

/* Category browser stuff */
.browser__title {
    font-family: var(--text-font-primary);
    font-size: 32px;
    color: var(--bg-color-header);
    margin: 50px 0;
}

.browser__wrapper {
    width: 100%;
    background-color: var(--bg-color-default);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browser__container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

/* Category item stuff */
.category-item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
}

.category-item__image {
    height: 100px;
    border-radius: 50%;
}

.category-item__title {
    font-family: var(--text-font-primary);
    font-size: 24px;
    color: var(--bg-color-header);
}

.category-item__title:hover {
    color: var(--bg-color-default);
    background-color: var(--bg-color-header);
    cursor: pointer;
}