.details__section {
    width: 80%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.arrow__icon {
    margin: 10px;
}

.arrow__icon:hover {
    cursor: pointer;
}

.details__section_title {
    font-family: var(--text-font-primary);
    font-size: 32px;
    color: var(--text-color-primary);
    margin: 50px 0;
}

.details__galery {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details__galery_image {
    display: block;
    width: auto;
    height: 600px;
    object-fit: contain;
}

.details__galery_image_preview {
    margin: 0 10px;
    display: block;
    width: auto;
    height: 100px;
    object-fit: contain;
}

.details__galery_image_counter {
    margin: 20px;
    font-family: var(--text-font-primary);
    font-size: 22px;
    color: var(--text-color-primary);
}

.details__bid_form_label {
    font-family: var(--text-font-primary);
    font-size: 28px;
    color: var(--text-color-primary);
    margin: 20px 0;
}

.details__bid_form_input {
    height: 50px;
    width: 50%;
    font-family: var(--text-font-primary);
    background-color: var(--bg-color-body);
    border: none;
    font-size: 26px;
}

.details__section textarea {
    height: 300px;
}

.details__btn {
    margin: 10px;
    height: 40px;
    width: 150px;
    border: none;
    color: var(--bg-color-default);
    background-color: var(--bg-color-header);
    font-family: var(--text-font-primary);
    font-size: 24px;
    border-radius: 5px;
}

.details__btn:hover {
    cursor: pointer;
}