<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" >
    <link rel="stylesheet" href="{% static 'css/03.Generic/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/04.Elements/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/05.Objects/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/06.Components/index.css' %}">
    <title>Bidster</title>
</head>
<body>
    {% include 'partials/header.html' %}
    {% block page_content %}{% endblock page_content %}
</body>
</html>